/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
.container {
  -webkit-box-shadow: inset 10px 10px 37px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 37px 5px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 10px 10px 37px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 37px 5px rgba(0, 0, 0, 0.75);
  max-width: 60em;
  margin: 7em auto;
  padding: 7em;
  font-family: Verdana,sans-serif;
}
/* line 23, ../sass/screen.scss */
.container header .name {
  color: #2d9edc;
  font-size: 350%;
  display: block;
}
/* line 24, ../sass/screen.scss */
.container header .last_name {
  font-size: 350%;
}
/* line 27, ../sass/screen.scss */
.container h2 {
  background: #2d9edc;
  padding: 1em;
}
/* line 28, ../sass/screen.scss */
.container h2 span {
  color: #fff;
  text-transform: uppercase;
}
/* line 34, ../sass/screen.scss */
.container article div {
  padding: 0.5em 0;
}
/* line 35, ../sass/screen.scss */
.container article div.info {
  border-bottom: 0.2em solid #2d9edc;
}
/* line 36, ../sass/screen.scss */
.container article div.info dl {
  height: 1.5em;
  padding: 0;
}
/* line 38, ../sass/screen.scss */
.container article div dl {
  width: 100%;
  display: table;
  padding: 1em 0;
}
/* line 39, ../sass/screen.scss */
.container article div dl dt, .container article div dl dd {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0 0.8em;
}
/* line 40, ../sass/screen.scss */
.container article div dl dt {
  width: 25%;
  text-align: right;
  color: #5e5e5e;
}
/* line 41, ../sass/screen.scss */
.container article div dl dt:after {
  content: '';
  background: #2d9edc;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 43, ../sass/screen.scss */
.container article div dl dd {
  width: 75%;
}
/* line 44, ../sass/screen.scss */
.container article div dl dd span, .container article div dl dd p {
  line-height: 1.35;
  padding-bottom: 0.5em;
}
/* line 48, ../sass/screen.scss */
.container article div ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5em;
}
/* line 49, ../sass/screen.scss */
.container article div ul li {
  display: inline-block;
  float: left;
  padding: 0.5em 0;
  text-align: center;
  color: #5b5b5b;
}
/* line 51, ../sass/screen.scss */
.container article div ul.lang li {
  width: 14%;
  margin-right: 0.33%;
  background: #cfafaf;
}
/* line 52, ../sass/screen.scss */
.container article div ul.lang li:last-child {
  margin-right: 0;
}
/* line 54, ../sass/screen.scss */
.container article div ul.cms li, .container article div ul.design li {
  width: 33%;
  margin-right: 0.5%;
}
/* line 55, ../sass/screen.scss */
.container article div ul.cms li:last-child, .container article div ul.design li:last-child {
  margin-right: 0;
}
/* line 57, ../sass/screen.scss */
.container article div ul.cms li {
  background: #bfcfaf;
}
/* line 58, ../sass/screen.scss */
.container article div ul.design li {
  background: #afcfcf;
}
/* line 65, ../sass/screen.scss */
.container article.lang div h3 {
  width: 25%;
  float: left;
  display: table;
  height: 3em;
  text-align: center;
}
/* line 66, ../sass/screen.scss */
.container article.lang div h3 span {
  display: table-cell;
  vertical-align: middle;
}
/* line 69, ../sass/screen.scss */
.container article.lang div dl {
  width: 75%;
}
/* line 70, ../sass/screen.scss */
.container article.lang div dl dt:after {
  content: none;
}
/* line 77, ../sass/screen.scss */
.container article.experience div h3 {
  display: table;
  height: 3.5em;
  text-align: left;
  width: 100%;
  background: #bcbcbc;
}
/* line 78, ../sass/screen.scss */
.container article.experience div h3 > span {
  width: 25%;
}
/* line 79, ../sass/screen.scss */
.container article.experience div h3 strong {
  width: 75%;
  font-weight: bold;
}
/* line 80, ../sass/screen.scss */
.container article.experience div h3 span, .container article.experience div h3 strong {
  display: table-cell;
  vertical-align: middle;
}
/* line 81, ../sass/screen.scss */
.container article.experience div h3 span span, .container article.experience div h3 strong span {
  display: block;
  padding: 0 1em;
  line-height: 1.3;
}
